.header {
  width: 30%;
  display: inline-block;
  text-align-last: start;
  font-size: calc(10px + 2vmin);
  color: green;
  padding-bottom: 20px;
  padding-left: 10px;
}

.nav-bar-header {
  width: 70%;
  text-align-last: start;
  display: flex;
  font-size: calc(10px + 2vmin);
  justify-content: space-around;
  color: rgb(49, 0, 128);
}
